html {
    font: 12px Helvetica;
    background: #cdcdcd;
}
body {
    background: transparent;
}
a {text-decoration: none;}

#outerwrapper {
    min-height: 00px;
    margin: 0;
    padding: 0;
}
#outerwrapper section.main, #outerwrapper aside.pre, #outerwrapper aside.post, nav, header, footer {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    border: 1px solid #900;
}
#outerwrapper section.main {
    background: #dddd88;
}
#outerwrapper aside.pre {
    background: #e4e9e4;
}
#outerwrapper aside.post {
    background: #ccccff;
}

.block {
    margin: 0.2em;
}

nav {
    display: block;
    min-height: 25px;
}
nav#menu {
    background: #175E4C;
}
nav#breadcrumb {
    background: #cc99ff;
}

header, footer {
    display: block;
    min-height: 100px;
    background: #ffeebb;
}

/*CustomMenu*/
ul, li, a  {margin: 0; padding: 0;}

.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#175e4c;
     z-index:999;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 15em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-top: 1px solid #104336;
}
.nav > li > .parent, .nav > li li > .parent {
    background-image: url([[pix:theme|downArrow]]);
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:1000;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:2000;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 720px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url([[pix:theme|downArrow]]);
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}
